.slider {
    text-align: center;
    margin: 20px 0 30px;
    outline: 1px solid #E2E2E2;
    padding: 10px 0;
}
.slider .inner {
    background: #27AE60;
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.15) inset;
    padding: 15px 0;
    margin-bottom: 15px;
    font-weight: bold;
    color: #FFF;
}
.slider-pagination li {
    float: left;
    width: 30px;
    list-style: none;
    cursor: pointer;
}
.slider-pagination li:hover, .slider-pagination li.active{
    text-decoration: underline;
}
.slider-custom-grid-item {
    width: 20%;
    float: left;
    outline: 1px solid #fff;
}
