.slider {
    text-align: center;
    margin: 20px 0 30px;
    outline: 1px solid #E2E2E2;
    padding: 10px 0;
}
.slide .inner {
    background: #dcdcdc;
    padding: 15px 0;
}
.slider-pagination li {
    float: left;
    width: 30px;
    list-style: none;
    cursor: pointer;
}
.slider-pagination li:hover, .slider-pagination li.active{
    text-decoration: underline;
}
